* {
    box-sizing: border-box;
}

:root {
    --primary-colour: #04BF9D;
}

body {
    background: #ebebeb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
}

.articles {
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
    border-radius: 1rem;
    background: #ffcabe;
    width: 250px;
}